.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-wrapper {
    flex: 1;
    padding: 20px;
  }
  
  .navbar-spacing {
    margin-top: 80px; /* Ajustează această valoare pentru a seta distanța dorită */
  }
  
  .footer-spacing {
    margin-bottom: 50px; /* Ajustează această valoare pentru a seta distanța dorită */
  }
  
  .cart-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item img {
    max-width: 100px;
    border-radius: 10px;
  }
  
  .item-quantity {
    display: flex;
    align-items: center;
  }
  
  .item-quantity button {
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
  }
  
  .order-summary {
    text-align: right;
  }
  
  .checkout-form {
    margin-top: 20px;
  }
  
  .checkout-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .checkout-form input,
  .checkout-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 130px); /* Ajustează pentru a include marginile navbar și footer */
  }
  
  .empty-cart h2 {
    margin-bottom: 70px;
  }
  
  .empty-cart p {
    margin-bottom: 70px;
  }
  
  .empty-cart button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .empty-cart button:hover {
    background-color: #218838;
  }
  