.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-spacing {
  margin-bottom: 45px; /* Space below the navbar */
}

.content-wrapper {
  flex: 1;
  padding: 20px;
}

.cart-container {
  max-width: 800px;
  margin: 0 auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  max-width: 100px;
  border-radius: 10px;
}

.item-quantity {
  display: flex;
  align-items: center;
  gap: 10px; /* Adds space between buttons and quantity number */
}

.item-quantity button {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  background: #fff;
  color: #555; /* Text color */
  font-size: 18px; /* Font size for buttons */
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  transition: background-color 0.3s ease;
}

.item-quantity button:hover {
  background-color: #f0f0f0; /* Background color on hover */
}

.item-quantity span {
  font-size: 18px;
  padding: 0 10px;
}

.remove-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.remove-button img {
  width: 30px;
  height: 25px;
  transition: transform 0.2s;
}

.remove-button img:hover {
  transform: scale(1.2);
}

.order-summary {
  text-align: center;
  margin: 0 auto;
}

.checkout-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px; 
  align-items: flex-start; 
}

.checkout-form label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px; 
}

.checkout-form label span {
  width: 150px; 
  text-align: left; 
  font-weight: bold; 
  color: #7c4d3f; 
}

.checkout-form input,
.checkout-form select {
  width: calc(100% - 160px); /* Adjust input width to align with labels */
  padding: 10px;
  background-color: #fff; /* Set background to white */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Rounded corners */
  color: black
}

.checkout-form select {
  max-width: 400px;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px); /* Adjust to include navbar and footer margins */
}

.empty-cart h2 {
  margin-bottom: 70px;
}

.empty-cart p {
  margin-bottom: 70px;
}

.empty-cart button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.empty-cart button:hover {
  background-color: #218838;
}

.footer-spacing {
  margin-top: 20px;
}

.card-details {
  margin-top: 20px;
}

.card-details label {
  display: block;
  margin-bottom: 10px;
}

.card-details input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
}