.preview-container{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    color: #fff;
    font-size: .9rem;
    margin: 50% auto; 
   
    &::before{
      content: "";
      position: absolute;
      top: 0px;
      right: 0;
      bottom: 0;
      left: 0;
      background-image:url("../../assets/backround-about.jpg");
      background-size:cover;
      background-position: center;
      
      /* opacity: 0.35; */
      filter: blur(15px);
  -webkit-filter: blur(15px);
      z-index: -1;
    }
}
.preview-container h2{
    color: #fff;
}
@media screen and (min-width:1200px) {
    .preview-container{
        font-size: 1.5rem;
        margin: 15% auto; 
      
    }
}