.contact-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact-container {
  display: flex;
  align-items: first baseline;
  justify-content: space-around;
  flex: 1;  
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 80px;
}

.spaced-container {
  margin-top: 80px; 
}

.contact-info {
  width: 40%;
}

.contact-info p {
  margin: 0 0px 10px 0;
}

.contact-info h2 {
  margin: 20px 0;
}

.contact-form {
  width: 50%;
}

.contact-form h1 {
  margin-bottom: 20px;
  color: #555; /* Culoarea textului */
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
  color: #555; /* Culoarea textului etichetelor */
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; /* Culoarea de fundal a campurilor */
  color: #333; /* Culoarea textului în campuri */
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #999; /* Culoarea textului de tip placeholder */
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
