.header {
    
    background-image: 
    linear-gradient(
      rgba(162, 159, 159, 0.5),  
      rgba(112, 108, 108, 0.5)  
    ), 
    url('../../images/backround.jpg');
    background-size: cover; 
    background-position: center;
    padding: 30px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

.nav-links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    }

.nav-link{
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.nav-link:hover{
    color: rgb(78, 121, 84);
}

.logo-icon{
    height: 170px;
    width: 200px;
   
}
.cart-icon {
    height: 39px;
    width: 60px;
  }