.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: 
    linear-gradient(
      rgba(162, 159, 159, 0.5),  
      rgba(112, 108, 108, 0.5)  
    ), 
    url('');
    background-size: cover; 
    background-position: center;
    /* padding: 30px;  */
    display: flex;
    justify-content: space-between;
    /* height: 100px; */
    z-index: 999;
    height: 60px;
    
}
.header-bg{
  background-image: 
    linear-gradient(
      rgba(162, 159, 159, .6),  
      rgba(112, 108, 108, .6)  
    ), 
    url('');
    background-size: cover; 
    background-position: center;
  transition: 0.5s;
}
    
.nav-links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    overflow: hidden;
    }

.nav-link{
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 5px;

}

.nav-dropdown-button{
    margin-right: 25px;
    background-color: transparent;
    border: none;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
}
.nav-dropdown-button:hover{
    color: var(--green);
    background-color: transparent;
}
.nav-link:hover{
    color: var(--green);
}
/* .nav-logo{
    width: 100px;
} */
.logo-icon{
    /* height: 170px; */
    width: 70px;
    /* height:60px; */
   margin:10px 20px; 

}
.cart-icon {
    height: 39px;
    width: 60px;
  }
  .cart-icon:hover{
    color: var(--green);
  }
.user-icon{
    
    font-size: 2rem;
    
}

.nav-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFF;
}
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
    
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
   cursor: pointer;
    
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar .nav-dropdown-button:hover, .dropdown:hover .dropbtn {
    color: var(--green);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
  }
  
  /* Links inside the dropdown */
  .dropdown-content .nav-dropdown-button {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content .nav-dropdown-button:hover {
    /* background-color: #EAEAEA; */
    text-decoration: underline;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .user{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

.cart-icon-wrapper {
    position: relative;
    display: inline-block;
}

.cart-icon {
    height: 39px;
    width: 60px;
}

.cart-count {
    position: absolute;
    bottom: 5px; /* Ajustează acestă valoare pentru a muta în sus sau în jos */
    right: 5px; /* Ajustează acestă valoare pentru a muta în stânga sau în dreapta */
    background-color: green;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px; /* Ajustează dimensiunea fontului aici */
    font-weight: bold;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
