/* Loading.css */

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;  /*Full viewport height */
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc; /* Light gray border */
    border-top-color: #454545; /* Blue border */
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  