  

/* Container for the register */
.signup-container {
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    &::before{
      content: "";
      position: absolute;
      top: 0px;
      right: 0;
      bottom: 0;
      left: 0;
      background-image:url("../../assets/backround-about.jpg");
      background-size: cover;
      background-position: center;
      
      /* opacity: 0.35; */
      filter: blur(8px);
  -webkit-filter: blur(8px);
      z-index: -1;
    }
}

/* Login form styling */
.signup-form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 90%;
    /* height: 45vh; */
    max-width: 400px;/* Maximum width for larger screens*/
    border: 5px solid var(--green);
    padding: 20px;
    border-radius: 10px;
    background-color: var(--light-gray);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Title of the form */
.form-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600 ;
    margin-top: 0;
    width: 80%;
    margin: 20px auto;
}

.form-row{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

}
.form-label{
  color: var(--black);
  font-size: 1.2rem;
  padding:0 10px;
  margin:   0px 10px;
}
.form-input{
  display: flex;
  color: var(--black);
  background-color: rgb(255, 253, 253);
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 20px;
  padding: 10px;
  margin:10px 10px;
  -webkit-box-shadow: 1px 12px 26px -11px rgba(0,0,0,0.59);
-moz-box-shadow: 1px 12px 26px -11px rgba(0,0,0,0.59);
box-shadow: 1px 12px 26px -11px rgba(0,0,0,0.59);
font-size: 1rem;
align-items: center;
outline: none;
margin-top: 0;
/* padding-top: 0; */

}
.form-input img {
  margin: 0 5px;
  aspect-ratio: 1/1;
  width: 15px;
}
.form-input input {
  margin: 0;
  flex: 1;
  border: none;
  background: none;
}
input:focus::placeholder{
  color: transparent;
}
.form-input:active{
  place-content: "";
}

.form-button{
  font-size: 1.2rem;
  width: 75%;
  margin: 20px auto;
  margin-bottom: 0;
  border-radius: 20px;
  border: none;
  padding: 10px 0;
  /* background-color: rgba(203, 140, 255, 0.5); */
  background-color: var(--green);
  cursor: pointer;
  color: #fff;
  /* border: 1px solid var(--green); */
}
.form-button-disabled{
  font-size: 1.2rem;
  width: 75%;
  margin: 20px auto;
  margin-bottom: 0;
  border-radius: 20px;
  border: none;
  padding: 10px 0;
  /* background-color: rgba(203, 140, 255, 0.5); */
  background-color: var(--green);
  cursor: pointer;
  color: #000;
  border: 1px solid var(--green);
}
.form-button-disabled:hover{
  background-color: #cccccc;
  cursor: not-allowed;
}
.form-button:hover{
  background-color: #4CAF50;
  color: white;
}
.login-link{
  color: var(--black);
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}
.login-link:hover{
  /* color: rgba(203, 140, 255, 0.5); */
  color: var(--black);
}
.eye-password3{
  
  width: fit-content;
  height: fit-content;
  
}
.form-input input{
  font-size: 1rem;
  color: #000;
  border-radius: 20px;
  outline: none;
}
.offscreen {
  display: none;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  /* position: relative; */
  bottom: -50px;
  width: 70%;
  margin: 0 auto;

}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
button:hover {
  
  
  
}
/* Media queries for responsiveness */
@media (min-width: 768px) {
    .login-form {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .login-form {
        width: 30%;
    }
}
