:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(118, 61, 61, 0.87);
  background-color: #f6f6ec;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --purple: rgba(203, 140, 255, 0.8);
  --white: #ffffff;
  --light-gray: rgba(240, 240, 240, 0.87);
  --black:rgba(22, 22, 22, 0.87);
  --light-dark:rgba(22, 22, 22, 0.37);
  --transparent: transparent;
  --dark-purple: rgba(188, 111, 252, 0.5);
  --gray:rgba(200, 200, 200, 0.9);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.error-message{
  width: 70%;
  margin: 0 auto;
  outline: red;
  color: red;
  font-size: 1rem;
  /* margin-left: 15%; */
}